.email {
  width: 200px;
  padding: 7px;
  border: 2px solid orange;
  outline: none;
  color: orange;
}
#submit {
  border: none;
  background: orange;
  outline: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
#submit:hover {
  opacity: 0.5;
}
.change-color {
  background: black !important;
}
.pretty {
  margin: 10px;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  border-radius: 50%;
}
.pretty:hover {
  transform: scale(1.1);
}
